body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system,Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}
* {
        /* 清楚点击时的高亮  */
        -webkit-tap-highlight-color: transparent;
}
a {
    /* 禁用长按页面时弹出菜单 */
    -webkit-touch-callout: none;
}

input {
    /* 清除游览器给按钮或输入框的默认样式 */
    -webkit-appearance: none;
}
.app {
    height: 45px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    /* 清除图片顶部空白 */
    vertical-align: middle; 
}
a {
    color: #333333;
    text-decoration: none;
}
.app ul li {
    float: left;
    height: 45px;
    background-color: #333333;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.app ul li:nth-child(1) {
    width: 8%;
}
.app ul li:nth-child(1) img {
    width: 10px;
}
.app ul li:nth-child(2) {
    width: 10%;
}
.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}
.app ul li:nth-child(3) {
    width: 57%;
}
.app ul li:nth-child(4) {
    width: 25%;
    background-color: #f63515;
}
.search-wrap {
    position: fixed;
    width: 100%;
    height: 44px;
    overflow: hidden;
}
.search-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
}
.search-button::before {
    content: '';
    display: block;
    width: 20px;
    height: 18px;
    margin: 14px 0 0 15px;
   background: url(../images/s-btn.png) no-repeat;
   background-size: 20px 18px;
}
.search {
    position: relative;
    overflow: hidden;
    height: 30px;
    background-color: #fff;
    margin: 7px 50px;
    border-radius: 15px;
}
.jd-icon {
    position: relative;
    width: 20px;
    height: 15px;
    margin: 8px 8px 0 15px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}
.jd-icon::after {
    content: '';
    position: absolute;
    right: -8px;
    display: block;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}
.fd-icon {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    background-color: pink;
    background: url(../images/jd-sprites.png) no-repeat -83px 0;
    background-size: 200px auto;
}
/* 搜索模块 */
.search-login {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    color: #fff;
    text-align: center;
    line-height: 44px;
}
/* 焦点图 */
.slider img {
    width: 100%;
}
/* 品牌日 */
.brand {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.brand div {
    float: left;
    width: 33.33%;
}
.brand div img {
    width: 100%;
}
/* 导航栏 */
nav {
    overflow: hidden;
}
nav a {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 12px;
}
nav a span {
    display: block;
}
nav a img {
    width: 40px;
    margin: 10px 0;
}
/* 新闻快报 */
.news {
    margin-top: 20px;
}
.news a img {
    width: 100%;
}
.news a {
    float: left;
    box-sizing: border-box;
}
.news a:nth-child(1) {
    width: 50%;
}
.news a:nth-child(n+2) {
    width: 25%;
   border-left: 1px solid #ccc;
}
